<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ps6 Playground | Nike Map - #{year}
    link(rel="stylesheet", href="./main.css")
  body
    .Sidebar
      ul.SidebarList
        each y in years
          li.SidebarItem(class=(y === year ? 'active' : ''))
            a.Button(href="/" + y)= y
    #map
    script(src="./data.js")
    script.
      window.data = window.mapData.byYear[#{year}];
    script(src="./main.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7g9tQ4aXGllZhSrNVeF4a3shwNKMeIRA&callback=initMap")